*{
    margin: 0;
    padding: 0;
}
body{
    background:  url(https://i.gifer.com/J59.gif);
    background-attachment: fixed;
    background-size: cover;
}
.main{
    width: 100%;

    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.iconl{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: orange;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    position: fixed;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;

}
ul{
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
ul li a:hover{
    color: orange;
}
.search{
    width: 330px;
    float:left;
    margin-left: 270px;
}
.icon{
    width: 300px;
    float: left;
    height: 70px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}


::placeholder{
    color: #fff;
    font-family: Arial;
}
.btnn{
    width: 300px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
.font .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icon a{
    text-decoration: none;
    color: #fff;
}
.catalog{
    width: 1200px;
    height: 600px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)100%,rgba(0,0,0,0.8)20%);
    margin: 50px 168px 0 168px;
    text-align: center;
}
.pres{
    color: white;
    font-size: 35px;
    font-family: Arial;
    padding-top: 15px;
    transition: 1s ease-in-out;
}
.pres:hover{
    color: red;
}
.ram{
    width: 340px;
    height: 360px;
    margin: 30px;
    
}
.fl{
    display: flex;
    margin-top: 20px;
}
.catalog a{
    text-decoration: none;
}
.web{
    width: 340px;
    height: 278px;
}
.foto{
    width: 340px;
    height: 278px;
}
.cname{
    width: 320px;
    height: 50px;
    color: white;
    font-size: 24px;
    margin: 10px;
    transition: 0.5s ease-in-out;
}
.ram{
    border: 2px solid red;
}
.ram p{
    padding: 11px;
}
.cname:hover{
    background-color: orange;
    border: 3px solid white;
    color: black;
}
.price{
    color: gray;
    font-size: 18px;
}
@media only screen and (max-width:700px) {
    .main{
        width: 100%;
        background-attachment: fixed;
    }
    .navbar{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .search{
        width: 100%;
        margin: 50px 20% 0 20%;
    }
    .catalog{
        width: 100%;
        margin: 180px 0 0 0;
        height: 1500px;
    }
    .fl{
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
    }
}