{% load static %}
<!DOCTYPE html>
<html>
<head>
   
    <title>Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style6.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main1">
        <div class="navbar1">
            <div class="iconl">
                <h2 class="logo1">Qanafya</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="http://127.0.0.1:8000/">HOME</a></li>
                    <li><a href="http://127.0.0.1:8000/register">Register</a></li>
                    <li><a href="http://127.0.0.1:8000/service">SERVICE</a></li>
                    <li><a href="http://127.0.0.1:8000/add/">ADD</a></li>
                    <li><a href="http://127.0.0.1:8000/contact/">CONTACT</a></li>
                    <li><a href="http://127.0.0.1:8000/users/">USERS</a></li>
                </ul>
            </div>
            <div class="search">
                <input class="srch" type="search" name="" placeholder=" Type name of course">
                <a href='https://www.google.com/search?q=Sorry+you+can%27t+search+anything&rlz=1C1CHZN_ruKZ934KZ934&oq=Sorry+you+can%27t+search+anything&aqs=chrome..69i57j33i22i29i30.15532j0j7&sourceid=chrome&ie=UTF-8'><button class="btn">Search</button></a>
            </div>
        </div>
        <div class="con">
            <h1 class="you"><b>You can find us in</b></h1>
            <table class="table">
                <tbody>
                    <tr class="active">
                    <td class="bold"><b>Planet</b></td>
                    <td class="bold"><b>Adress</b></td>
                    <td class="bold"><b>Phone number</b></td>
                  </tr>
                  <tr class="info">
                    <td>Mercury</td>
                    <td>Kairat Nurtas St. 45</td>
                    <td>+997 721 482 7226</td>
                  </tr>      
                  <tr class="danger">
                    <td>Venus</td>
                    <td>Kabanbay batyr St. 118</td>
                    <td>+45 401 834 4855</td>
                  </tr>
                  <tr class="info">
                    <td>Earth</td>
                    <td>Abylai Khan St. 1/1</td>
                    <td>+7 708 676 6202</td>
                  </tr>
                  <tr class="danger">
                    <td>Mars</td>
                    <td>Elon Musk town, 47/2</td>
                    <td>+9 412 652 2856</td>
                  </tr>
                  <tr class="info">
                    <td>Jupiter</td>
                    <td>Abai St. 1845</td>
                    <td>+5 210 164 5689</td>
                  </tr>
                  <tr class="danger">
                    <td>Saturn</td>
                    <td>F412 (next to "Magnum")</td>
                    <td>+12 584 254 5545</td>
                  </tr>
                  <tr class="info">
                    <td>Uranus</td>
                    <td style="color: red;"><b>Only delivery from Saturn</b></td>
                    <td>+12 584 254 5545</td>
                  </tr>
                  <tr class="danger">
                    <td>Neptune</td>
                    <td>Aktaban St. 7</td>
                    <td>+52 654 584 5414</td>
                  </tr>
                </tbody>
              </table>
              <p class="v"><b>* Red text - We couldn't find free place</b></p>
        </div>

    </div>

</body>
</html>