{% load static %}
<!DOCTYPE html>
<html>
<head>
   
    <title>Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="iconl">
                <h2 class="logo">Qanafya</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="http://127.0.0.1:8000/">HOME</a></li>
                    <li><a href="http://127.0.0.1:8000/register">Register</a></li>
                    <li><a href="http://127.0.0.1:8000/service">SERVICE</a></li>
                    <li><a href="http://127.0.0.1:8000/add/">ADD</a></li>
                    <li><a href="http://127.0.0.1:8000/contact/">CONTACT</a></li>
                    <li><a href="http://127.0.0.1:8000/users/">USERS</a></li>
                </ul>
            </div>
            <div class="search">
                <input class="srch" type="search" name="" placeholder=" Type name of course">
                <a href='https://www.google.com/search?q=Sorry+you+can%27t+search+anything&rlz=1C1CHZN_ruKZ934KZ934&oq=Sorry+you+can%27t+search+anything&aqs=chrome..69i57j33i22i29i30.15532j0j7&sourceid=chrome&ie=UTF-8'><button class="btn">Search</button></a>
            </div>
        </div>
        <div class="content">
            <h1><p>Tu</p>
                <p class="re">Eltañba</p>
                <p>Änūran</p></h1>
            <p class="par">Sız būl saittan Qazaqstannyñ rämızderın köre alasyz<br> Olardyñ şyğu tarihy jäne avtorlary</p>
        <button class="cn"><a href="index2.html">RÄMIZDER</a></button>
        <div class="form">
            <h2> Kıru</h2>
            <input type="email" name="email" placeholder="Email engızıñız">
            <input type="password" name="" placeholder="Qūpiasöz engızıñız">
            <button class="btnn"><a href="index2.html"> Login</a></button>
            <p class="link">Akauntyñyz joq bolsa<br>
            <a href="index2.html" class="sig">Osy jerden </a>tırkelıñız</a></p>
            <p class="liw"> Nemese</p>
                <div class="icon">
                    <a href="https://www.facebook.com/"><ion-icon name="Logo-facebook"></ion-icon></a>
                    <a href="https://instagram.com"><ion-icon name="Logo-instagram"></ion-icon></a>
                    <a href="https://twitter.com"><ion-icon name="Logo-twitter"></ion-icon></a>
                    <a href="https://vk.com"><ion-icon name="Logo-vk"></ion-icon></a>
                    <a href="https://google.com"><ion-icon name="Logo-google"></ion-icon></a>
                </div>
        </div>
        </div>
    </div>
    <div class="az"></div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>


</body>
</html>